.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 40%;
}

.cosa {
  text-align: center;
  padding-top: 15px;
align-items: center;
justify-content: center;
 margin-bottom: 10px;
 justify-content: center;



  /*  align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; */


}
