.save-btn {
  margin: 10px;
}

.prof-btn {
  margin: 10px;
}

.edit-user {
  margin-top: 25px;
}
.container {
  padding: 20px;
  margin: 0;
  text-align: center;
}
.position-btn {
  margin-bottom: 10px;
  justify-content: center;
}
