<div class="container" >
  <div class="row edit-user">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <form novalidate>
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" [(ngModel)]="editUser.username" name="username" required>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>First Name</label>
            <input class="form-control" type="text" [(ngModel)]="editUser.firstName" name="firstname" required>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" [(ngModel)]="editUser.email" name="email" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" type="text" [(ngModel)]="editUser.lastName" name="lastName" required>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-2">
      <a class="btn bt" (click)="saveChanges(user)" [routerLink]="['/board']">Save Changes</a>
      <a class="btn bt" [routerLink]="['/user']">Back to Profile</a>
    </div>
  </div>
</div>
