<div *ngIf="!user">
  <h2>No user logged in</h2>
</div>

<div *ngIf="user">
  <div class="row user-perf">
    <div class="col-sm-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2>User:
            <b>{{user.username}}</b>
          </h2>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <p>
                <b>Name</b> {{user.firstName}} {{user.lastName}}</p>
            </div>
            <div class="col-sm-4">
              <p>
                <b>Email</b> {{user.email}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <a class="btn bt" [routerLink]="['/profile']">User profile</a>
      <a class="btn bt" [routerLink]="['/board']">Back to Home</a>
    </div>
  </div>
</div>
