<div class="row valign-wrapper title" *ngIf="user">
  <form class="col s12" novalidate>
    <div class="row">
      <div class="input-field col s12">
        <input disabled value="User" id="disabled" [(ngModel)]="user.username" name="username" type="text" class="validate" required>
        <label class="active" for="disabled">User</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input disabled id="disabled" type="text" [(ngModel)]="user.firstName" name="firstName" class="validate" required>
        <label class="active" for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input disabled id="disabled" type="text" [(ngModel)]="user.lastName" name="lastName" class="validate" required>
        <label class="active" for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input disabled id="disabled" type="email" [(ngModel)]="user.email" name="email" class="validate" required>
        <label class="active" for="email">Email</label>
      </div>
    </div>
    <div class="row valign-wrapper center-align">
      <a class="btn bt bottom" [routerLink]="['/profile']">Edit</a>
      <a class="btn bt bottom" [routerLink]="['/board']">Home</a>
    </div>
  </form>
</div>
