<div *ngIf="bag">
  <div *ngFor="let bag of bag | filter:['id']; let idx = index">
    <ul>
      <li class="collection-header">
        <h5>Tracks</h5>
      </li>
      <li class="collection-item">
        <div>Number: {{bag.id}} -
          <br> State: {{bag.state}} -
          <div *ngFor="let state of bag.states">
          <br> States {{state.title}} -
          <br>        {{state.state}}
          </div>
          <a href="#!" class="secondary-content">
            <i class="material-icons">send</i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
